h1 {
    color: #333;
}

$primary-color: blue;

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid $primary-color;
    color: $primary-color;
    background-color: transparent;
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $primary-color;
        color: white;
    }

    &.primary {
        background-color: $primary-color;
        color: white;

        &:hover {
            background-color: darken($primary-color, 10%);
        }
    }
}

.frame-border {
    border:1px solid #ccc;
    border-radius: 5px;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.preloader {
    background: rgba($primary-color, .9);
    border-radius: 5px;
    color: #fff;
    left: 50%;
    padding-top: 5px;
    position: fixed;
    text-align: center;
    top: -5px;
    width: 90px;
    z-index: 6;

    .spinner {
        font-size: .8em;
    }
}

.update-overlay {
    animation: Animate 20s ease infinite;
    background: repeating-linear-gradient(-45deg, rgba(225, 225, 225, .1), rgba(6, 38, 153, .1) 50%) top left fixed;
    background-size: 30px 30px;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

@-webkit-keyframes Animate {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 50% 50%;
    }
}

@-moz-keyframes Animate {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 50% 50%;
    }
}

@keyframes Animate {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 50% 50%;
    }
}
